indexing - access any item in the sequence using its index.
Indexing starts with 0 for first element.

# String

In [5]:
x = 'frog'
#f r o g
#0 1 2 3
print(x[3])

g

# List

In [6]:
x = ['pig','cow','horse']
#      0     1      2
print(x[1])

cow

# Tuple

In [7]:
x = ('Nanak','Singh','Khurana')
#       0      1         2
print(x[0])

Nanak

Slicing - slice out substrings,sublists,sub tuples using indexes

[start : end + 1 : step]

if there is no step it by default 1
if no start it is by default 0
if no end,it is by default end + 1

In [9]:
x = 'computer'

In [10]:
print(x[1:4])

omp

In [12]:
print(x[1:6:2])

opt

In [13]:
print(x[3:])

puter

In [14]:
print(x[:5])

compu

In [15]:
print(x[-1])#starts from right side of string

r

In [17]:
print(x[-3:]) #last 3 elements

ter

In [18]:
print(x[:-2]) #all except last 2

comput

#### *Adding / Concatenating* - combine 2 sequences of same type using + sign

In [19]:
#String
x = 'Nanak' + 'Singh' + 'Khurana'
print(x)

NanakSinghKhurana

In [20]:
#List
y = ['Nanak' , 'Singh'] + ['Khurana']
print(y)

['Nanak', 'Singh', 'Khurana']

In [22]:
#Tuple
z = ('Nanak' , 'Singh') + ('Khurana',)
#important,in last element we need to have a comma else it will be considered as a string
print(z)

('Nanak', 'Singh', 'Khurana')

#### Multiplication using *

In [23]:
#String
x = 'Nanak' * 3
print(x)

NanakNanakNanak

In [24]:
#List
y = [8,5] * 3
print(y)

[8, 5, 8, 5, 8, 5]

In [25]:
#Tuple
z = (8,5) * 3
print(z)

(8, 5, 8, 5, 8, 5)

#### Checking Membership - test whether an item is in or not in sequence

In [29]:
#String
x = 'Nanak'
print("'a' in x is",'a' in x)
print("'w' in x is",'w' in x)
print("'z' not in x is",'w' not in x)

'a' in x is True
'w' in x is False
'z' not in x is True

In [33]:
#List
y = ['Nanak' , 'Singh' , 'Khurana']
print('Singh' in y)
print('singh' in y) #case sensiive
print('Nanak' not in y)

True
False
False

In [34]:
#Tuple
z = ('Nanak' , 'Singh' , 'Khurana')
print('Singh' in z)
print('singh' in z) #case sensiive
print('Nanak' not in z)

True
False
False

### Iterating through items in sequence

In [36]:
# item
x = [7 , 8 , 9]
for item in x:
    print(item)

7
8
9

In [37]:
# index and item 
y = [7 , 8 , 9]
for index , item in enumerate(y):
    print(index, item)

0 7
1 8
2 9

### Number of Items - count no. of elements in sequence

In [39]:
#String
x = 'Nanak' + 'Singh' + 'Khurana'
print(len(x))

17

In [40]:
#List
y = ['Nanak' , 'Singh' , 'Khurana']
print(len(y))

3

In [41]:
#Tuple
z = ('Nanak' , 'Singh' , 'Khurana')
print(len(z))

3

### Minimum - find the minimum item in a sequnce lexicographically
### Alpha or numberic types,but not mix types

In [42]:
#String
x = 'Nanak' + 'Singh' + 'Khurana'
print(min(x))

K

In [43]:
#List
y = ['Nanak' , 'Singh' , 'Khurana']
print(min(y)) #compares first letter of all first

Khurana

In [44]:
#Tuple
z = ('Nanak' , 'Singh' , 'Khurana')
print(min(z)) #compares first letter of all first

Khurana

### Maximum - find the maximum item in a sequnce lexicographically
### Alpha or numberic types,but not mix types

In [45]:
#String
x = 'Nanak' + 'Singh' + 'Khurana'
print(max(x))

u

In [46]:
#List
y = ['Nanak' , 'Singh' , 'Khurana']
print(max(y)) #compares first letter of all first

Singh

In [47]:
#Tuple
z = ('Nanak' , 'Singh' , 'Khurana')
print(max(z)) #compares first letter of all first

Singh

### Sum- find sum of items in a sequence
###  numberic types only

In [49]:
# String -> error
x = [5, 7, 'bug']
print(sum(x)) #generates an error

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [54]:
# List
x = [5, 7 , 10 , 43]
print(sum(x)) 
# We can also do multiple operatins like slicing as well
print(sum(x[-2:]))

65
53

In [55]:
# Tuple
x = (5, 7)
print(sum(x))

12

### Sorting - returns a new list of items in sorted order
### It does not change the original list, it returns a new list

In [59]:
#String
x = 'Nanak' 
print(sorted(x)) #Capital letters have lower ASCII than small

['N', 'a', 'a', 'k', 'n']

In [60]:
#List
y = ['Nanak' , 'Singh' , 'Khurana']
print(sorted(y))

['Khurana', 'Nanak', 'Singh']

In [61]:
#Tuple
z = ('Nanak' , 'Singh' , 'Khurana')
print(sorted(z))

['Khurana', 'Nanak', 'Singh']

### Sorting - sort by 2nd letter
### Add a key parameter and a lambda function to return the 2nd character
### (the word key here is a defined parameter name , k is an arbitrary variable name)

In [63]:
#Tuple
z = ('Nanak' , 'Singh' , 'Khurana')
print(sorted(z,key = lambda k : k[1]))

['Nanak', 'Khurana', 'Singh']

### count(item) - returns count of an item

In [64]:
#String
x = 'Nanak' 
print(x.count('a'))

2

In [65]:
#List
y = ['Nanak' , 'Singh' , 'Khurana','khurana','Singh']
print(y.count('Singh'))
print(y.count('Khurana'))

2
1

In [66]:
#Tuple
z = ('Nanak' , 'Singh' , 'Khurana','khurana','Singh')
print(z.count('Singh'))
print(z.count('Khurana'))

2
1

### index(item) - returns first index of an item

In [67]:
#String
x = 'Nanak' 
print(x.index('a'))

1

In [68]:
#List
y = ['Nanak' , 'Singh' , 'Khurana','khurana','Singh']
print(y.index('Singh'))
print(y.index('Khurana'))

1
2

In [69]:
#Tuple
z = ('Nanak' , 'Singh' , 'Khurana','khurana','Singh')
print(z.index('Singh'))
print(z.index('Khurana'))

1
2

### Unpacking - unpack the n items of a sequence unto n variables

In [75]:
y = ['Nanak' , 'Singh' , 'Khurana']
a, b, c = y # no of variables should be equal to no. of elements
print(a,b,c,y)

Nanak Singh Khurana ['Nanak', 'Singh', 'Khurana']